footer {
    width: 100%;
    background: $color-grey-1;
    padding: 3em 1em;
    margin: 3em 0 0;

    .container {
        max-width: 1400px;
        width: 100%;
        color: $color-0;
    }

    .footer-section {
        align-items: flex-start;
        justify-content: space-between;
    }

    .subsection {

        .sect {
            padding-left: 6em;
        }

        .buttons {
            margin-top: 1em;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .logo {
        width: 100%;
        max-width: 300px;

        img {
            width: 100%;
        }
    }

    .social-icons {
        margin-top: 1em;

        a {
            background: $color-1;
            color: #fff;
            border-radius: 50%;
        }
    }

    p {
        margin-bottom: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .footer-section-copy {
        margin-top: 3em;
    }

    .ewd {
        width: 200px;

        img {
            width: 100%;
        }
    }
}
